@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: arial;
  max-width: 100vw;
  color:white;
  height:100vh;
  background: #0F2027; 
  background: -webkit-linear-gradient(to right, #0F2027, #17292f, #0F2027);  
  background: linear-gradient(to right, #0F2027, #16262b, #0F2027);
}

::-webkit-scrollbar {
  width: 5px;
  height:5px;
}

::-webkit-scrollbar-track {
  background: #05222e; 
}
 
::-webkit-scrollbar-thumb {
  background: #24637e00; 
}

::-webkit-scrollbar-thumb:hover {
  background: #0F2027; 
}
::-webkit-scrollbar-corner{
 background-color:  #0F2027;
}

*{
  transition: all 00.35s ease-in-out;
}

